<!DOCTYPE html>
<html>
<head>
    <title>Boxes</title>
    <script>
        function toggleBoxes(show) {
            var boxes = document.getElementById('boxes');
            var selectBtn = document.getElementById('selectBoxButton');
            var closeBtn = document.getElementById('closeButton');
            
            if (show) {
                boxes.style.display = 'block';
                closeBtn.style.display = 'block';
                selectBtn.style.display = 'none';
            } else {
                boxes.style.display = 'none';
                closeBtn.style.display = 'none';
                selectBtn.style.display = 'block';
            }
        }
    </script>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'boxes.css' %}">
</head>
<body class="container">
    <button id="selectBoxButton" onclick="toggleBoxes(true)">Select Box</button>
    
    <div id="boxes" style="display:none;" >
        <form method="post" class="box">
            {% csrf_token %}
            {% for description in box_descriptions %}
            <div class="box-item" data-index="{{ forloop.counter }}">
                <div class="box-description">{{ description }}</div>
                {% load static %} <img src="{% static 'media/card.jpeg' %}" alt="card" style="max-width: 450px; height: 120px;">
                <button type="submit" name="box_value" value="Box {{ forloop.counter }} Value">Purchase Me!</button>
            </div>
            {% endfor %}
        </form>
        <button id="closeButton" style="display:none;" onclick="toggleBoxes(false)">Close</button>
        
    </div>
    <!-- Display the message when available -->
    {% if message %}
    <div style="margin-top: 20px; font-weight: bold;">
        {{ message }}
    </div>
    {% endif %}
</body>
</html>
